flow2
[{"id":"689cc7d8.467fe8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f8cf1f3.80807e","type":"inject","z":"689cc7d8.467fe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["2d933fb8.2ecf5"]]},{"id":"2d933fb8.2ecf5","type":"function","z":"689cc7d8.467fe8","name":"payload","func":"msg.headers={\n    deviceKey:\"r8AEyM89rQK0rV6f\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b04f36c8.97eb18","74cceefe.7d6ef"]]},{"id":"b04f36c8.97eb18","type":"http request","z":"689cc7d8.467fe8","name":"t","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DZXFKreu/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":200,"wires":[["b94f0681.c43e18","cba293f0.28b65"]]},{"id":"b94f0681.c43e18","type":"http response","z":"689cc7d8.467fe8","name":"","statusCode":"","headers":{},"x":830,"y":200,"wires":[]},{"id":"cba293f0.28b65","type":"debug","z":"689cc7d8.467fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"74cceefe.7d6ef","type":"http request","z":"689cc7d8.467fe8","name":"h","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DZXFKreu/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":260,"wires":[["b94f0681.c43e18","cba293f0.28b65"]]}]
