flow3
[{"id":"85cfa769.4896e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"53d909bd.4402f8","type":"inject","z":"85cfa769.4896e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["21d3b96.994ec46"]]},{"id":"21d3b96.994ec46","type":"function","z":"85cfa769.4896e8","name":"payload","func":"msg.headers={\n    deviceKey:\"r8AEyM89rQK0rV6f\"\n};\nmsg.payload=\"Temperature,,25.3\"\nmsg.payload=\"Humidity,,50\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["7ede14bc.ed0adc"]]},{"id":"7ede14bc.ed0adc","type":"http request","z":"85cfa769.4896e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DZXFKreu/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":240,"wires":[["1326dc28.f28ce4","867fd813.28b748"]]},{"id":"1326dc28.f28ce4","type":"http response","z":"85cfa769.4896e8","name":"","statusCode":"","headers":{},"x":750,"y":240,"wires":[]},{"id":"867fd813.28b748","type":"debug","z":"85cfa769.4896e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]}]
