flow1
[{"id":"d19e22b0.482a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26d59f1a.63b06","type":"rpi-gpio in","z":"d19e22b0.482a8","name":"button","pin":"18","intype":"up","debounce":"25","read":false,"x":140,"y":200,"wires":[["89fd1bd7.46fe78","a9577e29.66e82"]]},{"id":"947e3e8c.7eb55","type":"rpi-gpio out","z":"d19e22b0.482a8","name":"led","pin":"7","set":true,"level":"0","freq":"","out":"out","x":760,"y":200,"wires":[]},{"id":"89fd1bd7.46fe78","type":"switch","z":"d19e22b0.482a8","name":"if input =1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":200,"wires":[["253d3dfd.f181d2"],["caffebb5.7b0668"]]},{"id":"253d3dfd.f181d2","type":"change","z":"d19e22b0.482a8","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["947e3e8c.7eb55"]]},{"id":"caffebb5.7b0668","type":"change","z":"d19e22b0.482a8","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["947e3e8c.7eb55"]]},{"id":"a9577e29.66e82","type":"debug","z":"d19e22b0.482a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":100,"wires":[]}]
